.elemento-interno-1::after {
  z-index: 10;
  content: "Selena Gomez";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-1:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-2::after {
  z-index: 10;
  content: "Jackson Yee";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-2:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-3::after {
  z-index: 10;
  content: "Adam Fan";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-3:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-4::after {
  z-index: 10;
  content: "New Hope Club";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-4:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-5::after {
  z-index: 10;
  content: "Kai";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-5:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-6::after {
  z-index: 10;
  content: "Suho";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-6:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-7::after {
  z-index: 10;
  content: "Zayn";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-7:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-8::after {
  z-index: 10;
  content: "The Maine";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-8:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-9::after {
  z-index: 10;
  content: "Years&Years";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-9:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-10::after {
  z-index: 10;
  content: "Justin Bieber";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-10:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-11::after {
  z-index: 10;
  content: "Hailee S.";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-11:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-12::after {
  z-index: 10;
  content: "Jake Bugg";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-12:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-13::after {
  z-index: 10;
  content: "The Maine";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-13:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-14::after {
  z-index: 10;
  content: "Zayn";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-14:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-15::after {
  z-index: 10;
  content: "Troye Sivan";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-15:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-16::after {
  z-index: 10;
  content: "Nct 127";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-16:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-17::after {
  z-index: 10;
  content: "Selena Gomez";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-17:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-18::after {
  z-index: 10;
  content: "Kai";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-18:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-19::after {
  z-index: 10;
  content: "New Hope Club";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-19:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-20::after {
  z-index: 10;
  content: "Years&Years";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-20:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-21::after {
  z-index: 10;
  content: "Nct 127";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-21:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-22::after {
  z-index: 10;
  content: "Zara Larsson";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-22:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-23::after {
  z-index: 10;
  content: "SHINee";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-23:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-24::after {
  z-index: 10;
  content: "XG";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-24:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-25::after {
  z-index: 10;
  content: "Key";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-25:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-26::after {
  z-index: 10;
  content: "Zayn";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-26:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-27::after {
  z-index: 10;
  content: "The Maine";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-27:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-28::after {
  z-index: 10;
  content: "Charlie Brown Jr";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-28:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-29::after {
  z-index: 10;
  content: "Zayn";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-29:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-30::after {
  z-index: 10;
  content: "Ariana Grande";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-30:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}

.elemento-interno-31::after {
  z-index: 10;
  content: "Shawn Mendes";
  background: #fff;
  color: #000;
  width: 80px;
  position: absolute;
  top: 80%;
  opacity: 0;
  height: 5px;
  font-size: 12px;
  line-height: 1.4;
  padding: 10px;
  margin: 0 0 0 -20px;
  border-radius: 6px;
  text-align: center;
}

.elemento-interno-31:hover::after {
  opacity: 1;
  transition: opacity 0.3s ease 0.3s;
}
