body {
  background: #000;
  font-family: "Poppins" sans-serif;
}

h1 {
  font-size: 3rem;
  color: #adff2f;
  text-transform: lowercase;
  text-align: center;
  margin: 2em auto 0;
  transition: 0.1s;
}

h1:hover {
  transition: ease 0.3s;
  color: #c71585;
}

h5 {
  font-size: 1.5rem;
  text-align: center;
  color: #4682b4;
  text-transform: lowercase;
}

h5:hover {
  transition: 0.1s;
  color: #3cb371;
}
